*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,rgb(16, 15, 15), rgb(28, 28, 69), rgba(18, 25, 59, 0.999)); 
}

section{
    background-color: rgba(0, 0, 0, 0.268);
    padding: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    filter:drop-shadow(2px 26px 1px rgba(255, 255, 255, 0.131));

    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 42px;
}


::selection{
    background-color: transparent;
}